.App {
  text-align: center;
}

.startScreen{
  background-color: #ADD8E6;
}

.startEndGameBox {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-top: 10%;
}

.startButton {
  width: 100px;
  margin-top: 40px;
  margin-left: 35%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  padding-top: 50px;
  color: white;
  text-align: center;
}

.gameContainer {
  background-color: #ADD8E6 !important;
}

/* Count Box and Scorebox */
.block-left {
  float: left;
}

.block-right {
  float: right;
}

.question_container{
  text-align: center;
}

.answers{
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 469px) {
  .answerChoices{
    margin-right: 35px;
    font-size: 14px;
    font-weight: normal;
    width: auto;
    height: auto;
  }
}

.answerStatus{
  margin-right: 25px;
}

.nextButton{
  margin-left: auto;
}

.endButton{
  width: 100px;
  margin-top: 40px;
  margin: auto;
}

.App-title {
  font-size: 1.5em;
}
